{% if user.is_authenticated %}
  <div class="row">
    <ul class="nav nav-tabs" style="background-color: #e1eeff;">
      <li class="nav-item" >
        <a class="nav-link {% if index %}active{% endif %}" href="{% url 'index' %}">
          Все авторы
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'follow_index' %}" >
          Избранные авторы
        </a>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if profile %}active{% endif %}" href="{% url 'profile' user.username %}" >
        Свой профиль
      </a>
    </li>
    </ul>
  </div>
{% endif %} 