{% extends "base.html" %}
{% block title%} Записи сообщества {{ group.title }} {% endblock %}
{% block header %} {{ group.title }} {% endblock %}

{% block content%}
{% include "include/menu.html" with follow=True %} <hr>


  <div class="row justify-content-center mt-2">
  <h2> 
    {{ group.title }}
  </h2>
  </div>
  <hr>
  <div class="h5 text-muted">
    {{ group.description }} 
  </div> <br>
  


  <div class="container">
    {% for post in page %}
      {% include "include/post_item.html" with post=post %}
    {% endfor %}
  </div>


  {% include "include/paginator.html" with items=page paginator=paginator%}

{% endblock %}