{% extends "base.html" %}
{% block title%} Записи сообщества {{ group.title }} {% endblock %}
{% block header %} {{ group.title }} {% endblock %}

{% block content%}
{% include "include/menu.html" with follow=True %}

  <h1> {{ group.title }}</h1>
  <p> {{ group.description }}</p><br>

  <div class="container">
    {% for post in page %}
      {% include "include/post_item.html" with post=post %}
    {% endfor %}
    <hr>
  </div>


  {% include "include/paginator.html" with items=page paginator=paginator%}

{% endblock %}