{% extends "base.html" %}
{% block title %} Удалить запись {% endblock %}
{% block header %} Удалить запись {% endblock %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header "> Вы уверены что хотите удалить запись? </div>
                <div class="card-body">

            
                <form method="post" action="{% url 'post_delete' username=author post_id=post.id %}">

                {% csrf_token %}

                <button type="submit" class="btn btn-danger justify-content-center">
                    Удалить запись
                </button>
                <a class="btn btn-primary" href="{% url 'index' %}" role="button">
                    Нет
                </a>
                </form>
                


                </div>
            </div>
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}